{{#bs-nav type=type justified=justified stacked=stacked id="visualizations-nav" as |nav|}}
  {{#nav.item}}{{#nav.link-to "districts" class="viz-button purple-button"}}Districts{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "rain" class="viz-button purple-button"}}Rain{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "gain" class="viz-button purple-button"}}Gain{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "freezer" class="viz-button purple-button"}}Freezer{{/nav.link-to}}{{/nav.item}}
  {{#nav.item}}{{#nav.link-to "lines" class="viz-button purple-button"}}Lines{{/nav.link-to}}{{/nav.item}}
{{/bs-nav}}
<!-- <nav id="visualizations-nav" class="d-none nav d-md-flex justify-content-around justify-content-md-start"> -->
<!--   <a data-i18n="ta-{{ tab }}" id="{{ tab }}-button" class="nav-link {{ button-class }} viz-button nav-item" href="{{ site.baseurl }}/volume/{{ page.volume }}/visualizations.html#{{ tab }}"></a> -->
<!--   {% endfor %} -->
<!-- </nav> -->

