<nav id="visualizations-nav" class="d-none nav d-md-flex justify-content-around justify-content-md-start">
  <a data-i18n="ta-{{ tab }}" id="{{ tab }}-button" class="nav-link {{ button-class }} viz-button nav-item" href="{{ site.baseurl }}/volume/{{ page.volume }}/visualizations.html#{{ tab }}"></a>
  {% endfor %}
</nav>

